<form{{action saveBlog model.title model.content on="submit"}}>
  <p>
    <label>That's the label for our title</label>
    {{input value=model.title}}
  </p>
  <p>
    <label>That's the label for our content</label>
    {{textarea value=model.content}}
  </p>

  <p>
    <button>Save</button>
  </p>
</form>
