<form{{action saveBlog title content on="submit"}}>
  <p>
    <label>That's the label for our title</label>
    {{input value=title}}
  </p>
  <p>
    <label>That's the label for our content</label>
    {{textarea value=content}}
  </p>

  <p>
    <button>Save</button>
  </p>
</form>
